body {
    /* outline: 1px solid red; */
    scroll-behavior: smooth;
    font-family: 'Raleway';
    font-weight: 300;
    color: #fff !important;
    background-color: #000 !important;
}

#footer,
[type="submit"], 
#destacados .card-body, 
#quienes-somos .quienes-somos-icono { 
  background-color: #17a3b8 !important;
}


.quienes-somos-icono {
  font-size: 1.5rem;
}

.quienes-somos__parrafo {
  text-align: justify;
}

#footer a,
#footer a:active,
#footer a:hover { 
  color: white !important;
}


/* #318d9a */
/* #2f9ea9 */
